.header {
  padding: 15px 0;
  background-color: var(--greyE6);
}

.gridContainer {
  display: grid;
  grid-template-columns: 30px .6fr 140px;
  /* grid-template-columns: 30px .6fr minmax(mincontent, 140px); */
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}


@media (min-width: 768px) {
  .header {
    padding: 30px;
  }

  .gridContainer {
    grid-template-columns: 50px 1fr 1fr 140px;
    gap: 30px;
  }
}